body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

.header {
    transition: 0.5s;
    background-color: lightblue;
    padding: 1%;
}

.header a {
    transition: 0.5s;
    padding: 0;
    color: black;
    text-decoration: none;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: 50% 50%;
}